/* <<<<<<<<<<GENERAL NORMALISATION>>>>>>>>>>> */



/* <<<<<<<<<<HEADER>>>>>>>>>>> */
/* header, section, footer {
    outline: teal dashed 5px;
} */

/* .logo {
    display: block;
    text-decoration: none;
    line-height: 1.19;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.logo-blue {
    color: var(--company-blue);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
}
.logo-black {
    color: var(--company-black);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
}
.logo-white {
    color: var(--company-white);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
}
.navigation-list-header {
    display: flex;
}
.navigation-list-item:not(:last-child) {
    margin-right: 50px;
}
.navigation-list-item {
    position: relative;
}
.nav-menu {
    display: block;

    padding-top: 32px;
    padding-bottom: 32px;

    text-decoration: none;
    font-size: 14px;
    color: var(--header-black);
    line-height: 1.17;
    font-weight: 500;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-menu:hover {
    color: var(--company-blue);
}
.nav-menu:focus {
    color: var(--company-blue);
}

.contact-list-item:not(:last-child) {
    margin-right: 30px;
}
.contact-list-item {
    min-width: 135px;
}
.contact-list {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.nav-menu-links {
    text-decoration: none;
    font-weight: 500;
    color: var(--main-font);
    line-height: 1.17;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-menu-links:hover {
    color: var(--company-blue);
}

.nav-menu-links:focus {
    color: var(--company-blue);
}
.svg-contact-list-button {
    background-color: transparent;
}
.svg-contact-list-icon {
    margin-right: 10px;
    fill: currentColor;
}
.current {
    color: var(--company-blue);
}
.current::after {
    content: "";
    position: absolute;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;

    border: solid 2px var(--company-blue);
    border-radius: 2px;
}
.header {
    display: flex;
    align-items: center;
}
.svg-aligment-header {
    display: flex;
    align-items: center;
} */
/* <<<<<<<<<<FIRST SECTION>>>>>>>>>>> */



/* <<<<<<<<<<SECOND SECTION>>>>>>>>>>> */

/* .section-second {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-second-list {
    display: flex;
}
.features-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: var(--background-grey);
    margin-bottom: 30px;
}
.section-second-item {
    width: calc((100%-3 * 30px) / 4);
}
.section-second-item:not(:last-child) {
    margin-right: 30px;
}
.section-second-advantage {
    font-size: inherit;
    font-weight: 700;
    line-height: 1.17;
    color: var(--header-black);

    margin-bottom: 10px;
}
.section-second-advantage-desription {
    line-height: 1.71;
} */

/* <<<<<<<<<<SECTION THIRD>>>>>>>>>>> */
/* .section-third {
    padding-top: 0;
    padding-bottom: 94px;
}
.section-title {
    text-align: center;
    margin-bottom: 50px;
}
.section-third-list {
    display: flex;
}
.section-third-item {
    position: relative;
}
.section-third-item {
    width: calc((100%-2 * 30px) / 3);
    width: 370px;
}
.section-third-item:not(:last-child) {
    margin-right: 30px;
}
.section-third-description {
    position: absolute;
    bottom: 0px;

    display: flex;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
    background-color: var(--section-third-overlay);

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--background-color);
} */

/* <<<<<<<<<<SECTION FOURTH>>>>>>>>>>> */

/* .section-fourth {
    background-color: var(--background-grey);
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-fourth-list {
    display: flex;
}
.section-fourth-item {
    background-color: var(--background-color);
    /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.section-fourth-item:not(:last-child) {
    margin-right: 30px;
}
.section-four-picture {
    margin-bottom: 30px;
}
.section-fourth-name {
    margin-bottom: 10px;
    text-align: center;
    flex-grow: 1;
    flex-basis: calc((100%-3 * 30px) / 4);

    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    color: var(--header-black);
}
.section-fourth-position {
    flex-grow: 1;
    flex-basis: calc((100%-3 * 30px) / 4);

    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    margin-bottom: 16px;
}
.stuff {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.svg-stuff {
    fill: currentColor;
}
.svg-stuff:not(:last-child) {
    margin-right: 10px;
}
.stuff-item {
    width: 44px;
    height: 44px;

    text-decoration: none;

    background-color: transparent;
    border-radius: 50%;
    padding: 0px;
}
.stuff-item-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    border-radius: 50%;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.stuff-item:not(:last-child) {
    margin-right: 10px;
}
.stuff-item-link:hover,
.stuff-item-link:focus {
    color: var(--background-color);
    background-color: var(--company-blue);
} */

/* <<<<<<<<<<SECTION FIFTH>>>>>>>>>>> */

/* .section-fifth {
    /* background-color: var(--background-grey);
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients-list {
    display: flex;
    justify-content: center;
    list-style: none;
    column-gap: 30px;
    text-align: center;
}
.clients-list-item {
    width: 170px;
    height: 92px;
}
.clients-list-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    border: 1px solid var(--icon-color);
    border-radius: 4px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list-link:hover,
.clients-list-link:focus {
    color: var(--company-blue);
    border-color: var(--company-blue);
}
.svg-client {
    fill: currentColor;
} */

/* <<<<<<<<<<FOOTER>>>>>>>>>>> */


/* .footer {
    padding-top: 60px;
    padding-bottom: 60px;
}
.logo-footer {
    text-decoration: none;
    display: inline-block;

    margin-bottom: 20px;
}
.address-text {
    font-style: inherit;
    line-height: 1.71;
    margin-right: 70px;
}
.contact-list-footer-item {
    display: block;
}
.contact-list-footer-item:not(:last-child) {
    margin-bottom: 9px;
}
.footer-location {
    text-decoration: none;
    color: var(--company-white);
    line-height: 1.71;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-links {
    text-decoration: none;
    padding: 0px;
    color: var(--footer-text-color);
    line-height: 1.71;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-location:hover,
.footer-location:focus,
.footer-links:hover,
.footer-links:focus {
    color: var(--company-blue);
}
.footer-text {
    display: flex;
    align-items: baseline;
}
.footer-list-name {
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--company-white);

    margin-bottom: 20px;
}
.footer-social-item {
    text-decoration: none;
    width: 44px;
    height: 44px;
    background-color: transparent;
    border-radius: 50%;
    padding: 0px;
}
.footer-social-item:not(:last-child) {
    margin-right: 10px;
}
.svg-footer-link {
    background-color: var(--footer-link-backgtound);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-footer-link:hover,
.svg-footer-link:focus {
    background-color: var(--company-blue);
}
.svg-fooler-social {
    fill: var(--company-white);
}
.footer-form-container{
    margin-left: auto;
}
.footer-form{
    display: flex;
    align-items: flex-end;
}
.input-form{
    display: flex;
    flex-direction: column;
}
.input-form-label{
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--company-white);
}
.input-form-input{
    font-size: inherit;
    font-weight: inherit;
    color: var(--company-white);
    line-height: 1.25;

    padding: 15px 16px;

    width: 358px;
    height: 50px;
    border-radius: 4px;
    background-color: var(--background-black);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.input-form-input::placeholder{
    font-size: inherit;
    color: var(--main-font);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: inherit;
}
.footer-follow-button{
    display: flex; 
    font-family: inherit;
    background-color: var(--background-grey);
    color: var(--company-white);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63;
    letter-spacing: inherit;
    background-color: var(--company-blue);
   
    justify-content: center;
    align-items: center;

    min-width: 200px;
    min-height: 50px;
    margin-left: 12px;

    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;

    border-radius: 4px;

    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-follow-button:hover, 
.footer-follow-button:focus {
background-color: var(--main-button-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);    
}
.input-form-input{
    outline: none;
}
.svg-footer-button{
    fill: var(--company-white);
    margin-left: 10px;
} */
/* <<<<<<<<<<SECTION PORTFOLIO>>>>>>>>>>> */

/* .section-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}
.footer-social {
    list-style: none;
    display: flex;
} */

/* <<<<<<<<<<BUTTON LIST>>>>>>>>>>> */

/* .portfolio-button-list {
    display: flex;
    justify-content: center;

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    column-gap: 8px;
}

.portfolio-button {
    font-family: inherit;
    background-color: var(--background-grey);
    color: var(--header-black);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63;
    letter-spacing: inherit;

    min-width: 73px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;

    border-radius: 4px;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button:hover {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    background-color: var(--company-blue);
    color: var(--company-white);
    cursor: pointer;
}
.portfolio-button:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    background-color: var(--company-blue);
    color: var(--company-white);
} */
/* <<<<<<<<<<PORTFOLIO PROJECTS>>>>>>>>>>> */

/* .portfolio-project-list {
    display: flex;
    flex-wrap: wrap;
}
.portfolio-project-item {
    margin-right: 30px;
    margin-bottom: 30px;
    width: 370px;
    border: 1px solid var(--portfolio-border);
}
.portfolio-project-item:nth-child(3n) {
    margin-right: 0px;
}
.portfolio-project-item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}
.portfolio-project-link {
    display: inline-block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-picture {
    position: relative;
    overflow: hidden;
}
.overlay-text {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;
    padding: 63px 24px;

    font-size: 18px;
    color: var(--company-white);
    line-height: 1.56;
    background-color: var(--portfolio-card-overlay);

    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-project-link:hover .overlay-text {
    transform: translateY(0);
}
.portfolio-project-link:focus .overlay-text {
    transform: translateY(0);
}

.portfolio-project-link:hover,
.portfolio-project-link:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.card-desription {
    padding: 20px 24px;
}
.portfolio-project-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    color: var(--header-black);
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}
.portfolio-description {
    font-size: 16px;
    line-height: 1.88;
} */

/* <<<<<<<<<<MODAL WINDOW>>>>>>>>>>> */

/* .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: var(--modal-window-backdrop);

    opacity: 1;
    transition: opacity 1000ms linear, scale 1000ms ease-out;
}  */

/* .backdrop.is-hidden {
    scale: 0.1;
    opacity: 0;
    pointer-events: none;
}  */

/* .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 528px;
    height: 581px;
    padding: 40px;

    background-color: var(--background-color);
    border-radius: 4px;
}
.close-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 8px;
    right: 8px;
    
    background-color: transparent;
    border-color: var(--close-border);
  
   
}
.close-button-svg {
    color: var(--company-black);
    fill: currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover .close-button-svg{
    color: var(--company-blue);
}  */

/* .modal-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.modal-form-name{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.172;
    color: var(--header-black);
    margin-bottom: 12px;
}
.form-block{
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}
.form-input-svg{
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: var(--company-black);
    fill: currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-label{
    display: inline-block;
    margin-right: auto;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em; 
}
.modal-form-input{
    display: block;
    width: 100%;
    padding: 11px 42px;

    border: 1px solid var(--modal-border);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:hover+.form-input-svg, .modal-form-input:hover{
    color: var(--company-blue);
    border-color: var(--company-blue);
}
.modal-form-input:focus+.form-input-svg, .modal-form-input:focus{
    color: var(--company-blue);
    outline-color: var(--company-blue);
}
.modal-form-textarea{
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    resize: none;
    margin-bottom: 20px;
    border: 1px solid var(--modal-border);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-textarea::placeholder{
    font-size: 12px;
    line-height: 1.17;
    color: var(--comment-placeholder);
}
.modal-form-textarea:hover{
     border-color: var(--company-blue);
}
.modal-form-textarea:focus{
    outline-color: var(--company-blue);
}
.modal-policy-check{
    display: flex;
    margin-bottom: 30px;
}
.modal-form-check{
    border: 1px solid var(--company-black);
    border-radius: 4px;
    fill: var(--background-color);
    margin-right: 7px;
    
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox{
    appearance: none;
    position: absolute;
}
.modal-checkbox:checked + .modal-form-check{
    background-color: var(--company-blue);
    border: 1px solid var(--company-blue);
}
.modal-link{
    text-decoration: underline;
    color: var(--company-blue);
}
.modal-button{
    min-width: 200px;
    min-height: 50px;

    display: block;
    
    background-color: var(--company-blue);
    color: var(--company-white);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    cursor: pointer;
    letter-spacing: 0.06em;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 52px;
    padding-right: 52px;

    border-radius: 4px;
    
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover, .modal-button:focus{
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */