.modal-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-form-name{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: var(--header-black);
    text-align: center;

    @media screen and (min-width: 1200px){
    line-height: 1.172;
    margin-bottom: 12px;
    }
}
.form-block{
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}
.form-input-svg{
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: var(--company-black);
    fill: currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-label{
    display: inline-block;
    margin-right: auto;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em; 
}
.modal-form-input{
    display: block;
    width: 100%;
    padding: 11px 42px;

    border: 1px solid var(--modal-border);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:hover+.form-input-svg, .modal-form-input:hover{
    color: var(--company-blue);
    border-color: var(--company-blue);
}
.modal-form-input:focus+.form-input-svg, .modal-form-input:focus{
    color: var(--company-blue);
    outline-color: var(--company-blue);
}
.modal-form-textarea{
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    resize: none;
    margin-bottom: 20px;
    border: 1px solid var(--modal-border);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-textarea::placeholder{
    font-size: 12px;
    line-height: 1.17;
    color: var(--comment-placeholder);
}
.modal-form-textarea:hover{
     border-color: var(--company-blue);
}
.modal-form-textarea:focus{
    outline-color: var(--company-blue);
}
.modal-policy-check{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-size: 12px;

    @media screen and (min-width: 1200px){
        font-size: 14px;
    }
}
.modal-form-check{
    border: 1px solid var(--company-black);
    border-radius: 4px;
    fill: var(--background-color);
    margin-right: 7px;
    
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox{
    appearance: none;
    position: absolute;
}
.modal-checkbox:checked + .modal-form-check{
    background-color: var(--company-blue);
    border: 1px solid var(--company-blue);
}
.modal-link{
    text-decoration: underline;
    color: var(--company-blue);
}
.modal-button{
    min-width: 200px;
    min-height: 50px;

    display: block;
    
    background-color: var(--company-blue);
    color: var(--company-white);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    cursor: pointer;
    letter-spacing: 0.06em;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 52px;
    padding-right: 52px;

    border-radius: 4px;
    
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover, .modal-button:focus{
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}