.portfolio-project-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    
    gap: 30px;

    @media screen and (min-width:768px){
        flex-direction: row;
    }
}
.portfolio-project-item {
    width: calc(100% - 30px);
    border: 1px solid var(--portfolio-border);

    @media screen and (min-width:768px){
        width: calc((100% - 1 * 30px)/2);
    }

    @media screen and (min-width:1200px){
        width: calc((100% - 2 * 30px)/3);
    }
}
.portfolio-project-link {
    display: inline-block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus{
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
}
.portfolio-card-picture {
    position: relative;
    overflow: hidden;
} 
.portfolio-card-picture--big{
    min-height: 146px;
    @media screen and (min-width:1200px){
        min-height: 0;
    }
}
.overlay-text {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;
    padding: 63px 24px;

    font-size: 18px;
    color: var(--company-white);
    line-height: 1.56;
    background-color: var(--portfolio-card-overlay);

    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .portfolio-project-link:hover &{
        transform: translateY(0);
    }

    .portfolio-project-link:focus &{
        transform: translateY(0);
    }
    }
.card-desription {
    padding: 20px 24px;
}
.portfolio-project-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    color: var(--header-black);
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}
.portfolio-description {
    font-size: 16px;
    line-height: 1.88;
}