.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    
    @media screen and (min-width:480px){
        width: 480px;  
        margin-right: auto;
        margin-left: auto;
    }

    @media screen and (min-width:768px){
        width: 768px;
     }

    @media screen and (min-width: 1200px){
        width: 1200px;
    }
}

.current {
    color: var(--company-blue);

    &::after {
    content: "";
    position: absolute;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;

    border: solid 2px var(--company-blue);
    border-radius: 2px;
}
}
.svg-aligment {
    @media screen and (min-width:768px){

    display: flex;
    justify-content: center;
    align-items: center;
    }
    
}
.section-title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.17;
    color: var(--header-black);
    margin-bottom: 30px;

    @media screen and (min-width:1200px){
    font-size: 36px; 
    margin-bottom: 50px;
    }
}

