:root {
    --background-color: #ffffff;
    --company-blue: #2196f3;
    --company-black: #000000;
    --company-white: #ffffff;
    --background-grey: #f5f4fa;
    --header-black: #212121;
    --main-font: #757575;
    --background-black: #2f303a;
    --main-button-hover: #188ce8;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --portfolio-border: #eeeeee;
    --header-border: #ececec;
    --icon-color: #afb1b8;
    --footer-link-backgtound: rgba(255, 255, 255, 0.1);
    --section-third-overlay: rgba(47, 48, 58, 0.8);
    --portfolio-card-overlay: rgba(33, 150, 243, 0.9);
    --modal-window-backdrop: rgba(0, 0, 0, 0.2);
    --close-border: rgba(0, 0, 0, 0.1);
    --comment-placeholder: rgba(117, 117, 117, 0.5);
    --modal-border: rgba(33, 33, 33, 0.2);
    --modal-menu-font: rgba(33, 33, 33, 1);
}