.section-fourth {
    background-color: var(--background-grey);
    padding-top: 94px;
    padding-bottom: 94px;
}

.command-list {
    display: flex;
}

.command-list__item {
    background-color: var(--background-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        &:not(:last-child) {
        margin-right: 30px;
}
}

.command-list__picture {
    margin-bottom: 30px;
}

.command-list__name {
    margin-bottom: 10px;
    text-align: center;
    flex-grow: 1;
    flex-basis: calc((100% - 3 * 30px) / 4);

    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    color: var(--header-black);
}

.command-list__position {
    flex-basis: calc((100% - 3 * 30px) / 4);

    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    margin-bottom: 16px;
}

// .social-list {
//     @extend %flex-center;
//     margin-bottom: 30px;
// }

// .social-list__item {
//     width: 44px;
//     height: 44px;

//     text-decoration: none;

//     background-color: transparent;
//     border-radius: 50%;
//     padding: 0px;

//         &:not(:last-child) {
//         margin-right: 10px;
// }
// }

// .social-list__link {
//     @extend %flex-center;

//     // width: 100%;
//     // height: 100%;
//     border-radius: 50%;

//     @include animation-double(color, background-color);

//         &:hover,
//         &:focus {
//     color: var(--background-color);
//     background-color: var(--company-blue);
// }
// }

// .social-list__icon {
//     fill: currentColor;

//         &:not(:last-child) {
//         margin-right: 10px;
// }
// }

// <<<===BEFORE BEM===>>>
// .section-fourth {
//     background-color: var(--background-grey);
//     padding-top: 94px;
//     padding-bottom: 94px;
// }
// .section-fourth-list {
//     display: flex;
// }
// .section-fourth-item {
//     background-color: var(--background-color);
//     /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
// 		0px 2px 1px rgba(0, 0, 0, 0.2); */
//     border-radius: 0px 0px 4px 4px;
//     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
// }
// .section-fourth-item:not(:last-child) {
//     margin-right: 30px;
// }
// .section-four-picture {
//     margin-bottom: 30px;
// }
// .section-fourth-name {
//     margin-bottom: 10px;
//     text-align: center;
//     flex-grow: 1;
//     flex-basis: calc((100% - 3 * 30px) / 4);

//     font-size: 16px;
//     font-weight: 500;
//     line-height: 1.19;
//     color: var(--header-black);
// }
// .section-fourth-position {
//     flex-grow: 1;
//     flex-basis: calc((100% - 3 * 30px) / 4);

//     font-size: 16px;
//     line-height: 1.19;
//     text-align: center;

//     margin-bottom: 16px;
// }
// .stuff {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin-bottom: 30px;
// }
// .svg-stuff {
//     fill: currentColor;
// }
// .svg-stuff:not(:last-child) {
//     margin-right: 10px;
// }
// .stuff-item {
//     width: 44px;
//     height: 44px;

//     text-decoration: none;

//     background-color: transparent;
//     border-radius: 50%;
//     padding: 0px;
// }
// .stuff-item-link {
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     width: 100%;
//     height: 100%;
//     border-radius: 50%;

//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//         background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
// // .stuff-item:not(:last-child) {
// //     margin-right: 10px;
// // }
// .stuff-item-link:hover,
// .stuff-item-link:focus {
//     color: var(--background-color);
//     background-color: var(--company-blue);
// }